{{define "body"}}

{{template "top_nav_tabs" .}}

<div class="row">
    <div class="col-xs-12 col-md-12">
        {{if .Interactive}}
        <div id="graphdiv" class="graph">
            <script>
                var counterOptions = {
                    title: 'Application - Metric Counters: (application ID: {{urlquery .ApplicationID}})',
                    //connectSeparatedPoints: true,
                    xlabel: 'Date (UTC)',
                    ylabel: 'Count',
                    drawPoints: true,
                    pointSize: 2,
                    rollPeriod: 1,
                    showRoller: true,
                    strokeWidth: 2,
                };
                showGraph("/p/app/metric?applicationID={{urlquery .ApplicationID}}&group=counters",
                            {{urlquery .Resolution}},
                            counterOptions,
                            {{if .Thresholds}}[{{index .Thresholds 0}}, {{index .Thresholds 1}}]{{else}}null{{end}}
                );

                var timerOptions = {
                    title: 'Application - Metric Timers: (application ID: {{urlquery .ApplicationID}})',
                    //connectSeparatedPoints: true,
                    xlabel: 'Date (UTC)',
                    ylabel: 'Time (ms)',
                    drawPoints: true,
                    pointSize: 2,
                    rollPeriod: 1,
                    showRoller: true,
                    strokeWidth: 2,
                };
                showGraph("/p/app/metric?applicationID={{urlquery .ApplicationID}}&group=timers",
                            {{urlquery .Resolution}},
                            timerOptions,
                            {{if .Thresholds}}[{{index .Thresholds 0}}, {{index .Thresholds 1}}]{{else}}null{{end}}
                );

                var memoryOptions = {
                    title: 'Application - Metric Memory: (application ID: {{urlquery .ApplicationID}})',
                    //connectSeparatedPoints: true,
                    xlabel: 'Date (UTC)',
                    ylabel: 'Bytes',
                    drawPoints: true,
                    pointSize: 2,
                    rollPeriod: 1,
                    showRoller: true,
                    strokeWidth: 2,
                };
                showGraph("/p/app/metric?applicationID={{urlquery .ApplicationID}}&group=memory",
                            {{urlquery .Resolution}},
                            memoryOptions,
                            {{if .Thresholds}}[{{index .Thresholds 0}}, {{index .Thresholds 1}}]{{else}}null{{end}}
                );

                var routineOptions = {
                    title: 'Application - Metric Routines: (application ID: {{urlquery .ApplicationID}})',
                    //connectSeparatedPoints: true,
                    xlabel: 'Date (UTC)',
                    ylabel: 'Count',
                    drawPoints: true,
                    pointSize: 2,
                    rollPeriod: 1,
                    showRoller: true,
                    strokeWidth: 2,
                };
                showGraph("/p/app/metric?applicationID={{urlquery .ApplicationID}}&group=routines",
                            {{urlquery .Resolution}},
                            routineOptions,
                            {{if .Thresholds}}[{{index .Thresholds 0}}, {{index .Thresholds 1}}]{{else}}null{{end}}
                );

                var objectOptions = {
                    title: 'Application - Metric Memory Heap Objects: (application ID: {{urlquery .ApplicationID}})',
                    //connectSeparatedPoints: true,
                    xlabel: 'Date (UTC)',
                    ylabel: 'Count',
                    drawPoints: true,
                    pointSize: 2,
                    rollPeriod: 1,
                    showRoller: true,
                    strokeWidth: 0.0, // draw points but not lines connecting them
                };
                showGraph("/p/app/metric?applicationID={{urlquery .ApplicationID}}&group=objects",
                            {{urlquery .Resolution}},
                            objectOptions,
                            {{if .Thresholds}}[{{index .Thresholds 0}}, {{index .Thresholds 1}}]{{else}}null{{end}}
                );

            </script>
        </div>
        {{template "app_plot_res" .}}

        {{else}}
        <img src="{{.MtrApiUrl}}/app/metric?applicationID={{.ApplicationID}}&group=counters&resolution={{.Resolution}}" />
        {{template "app_plot_res" .}}
        <br>
        <img src="{{.MtrApiUrl}}/app/metric?applicationID={{.ApplicationID}}&group=timers&resolution={{.Resolution}}" />
        {{template "app_plot_res" .}}
        <br>
        <img src="{{.MtrApiUrl}}/app/metric?applicationID={{.ApplicationID}}&group=memory&resolution={{.Resolution}}" />
        {{template "app_plot_res" .}}
        <br>
        <img src="{{.MtrApiUrl}}/app/metric?applicationID={{.ApplicationID}}&group=routines&resolution={{.Resolution}}" />
        {{template "app_plot_res" .}}
        <br>
        <img src="{{.MtrApiUrl}}/app/metric?applicationID={{.ApplicationID}}&group=objects&resolution={{.Resolution}}" />
        {{template "app_plot_res" .}}
        {{end}}
    </div>
</div>
{{end}}