{{define "body"}}

{{template "top_nav_tabs" .}}

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div id="graphdiv" class="graph">
            <script>
                $(document).ready(function () {
                    "use strict";

                    var counterOptions = {
                        title: 'Application Metric Counters: (app ID: {{urlquery .ApplicationID}})',
                        //connectSeparatedPoints: true,
                        xlabel: 'Date (UTC)',
                        ylabel: 'Count',
                        drawPoints: true,
                        pointSize: 2,
                        rollPeriod: 1,
                        showRoller: true,
                        //strokeWidth: 2,
                    };
                    showGraph("/p/app/metric?applicationID={{urlquery .ApplicationID}}&group=counters",
                                {{urlquery .Resolution}},
                                counterOptions,
                                {{if .Plt.Thresholds}}[{{index .Plt.Thresholds 0}}, {{index .Plt.Thresholds 1}}]{{else}}null{{end}}
                    );

                    var timerOptions = {
                        title: 'Application Metric Timers: (app ID: {{urlquery .ApplicationID}})',
                        //connectSeparatedPoints: true,
                        xlabel: 'Date (UTC)',
                        ylabel: 'Time (ms)',
                        drawPoints: true,
                        pointSize: 2,
                        rollPeriod: 1,
                        showRoller: true,
                        strokeWidth: 0.0, // Plot points instead of lines, same as the SVGs
                    };
                    showGraph("/p/app/metric?applicationID={{urlquery .ApplicationID}}&group=timers",
                                {{urlquery .Resolution}},
                                timerOptions,
                                {{if .Plt.Thresholds}}[{{index .Plt.Thresholds 0}}, {{index .Plt.Thresholds 1}}]{{else}}null{{end}}
                    );

                    var memoryOptions = {
                        title: 'Application Metric Memory: (app ID: {{urlquery .ApplicationID}})',
                        //connectSeparatedPoints: true,
                        xlabel: 'Date (UTC)',
                        ylabel: 'Bytes',
                        drawPoints: true,
                        pointSize: 2,
                        rollPeriod: 1,
                        showRoller: true,
                        //strokeWidth: 2,
                    };
                    showGraph("/p/app/metric?applicationID={{urlquery .ApplicationID}}&group=memory",
                                {{urlquery .Resolution}},
                                memoryOptions,
                                {{if .Plt.Thresholds}}[{{index .Plt.Thresholds 0}}, {{index .Plt.Thresholds 1}}]{{else}}null{{end}}
                    );

                    var routineOptions = {
                        title: 'Application Metric Routines: (app ID: {{urlquery .ApplicationID}})',
                        //connectSeparatedPoints: true,
                        xlabel: 'Date (UTC)',
                        ylabel: 'Count',
                        drawPoints: true,
                        pointSize: 2,
                        rollPeriod: 1,
                        showRoller: true,
                        //strokeWidth: 2,
                    };
                    showGraph("/p/app/metric?applicationID={{urlquery .ApplicationID}}&group=routines",
                                {{urlquery .Resolution}},
                                routineOptions,
                                {{if .Plt.Thresholds}}[{{index .Plt.Thresholds 0}}, {{index .Plt.Thresholds 1}}]{{else}}null{{end}}
                    );

                    var objectOptions = {
                        title: 'Application Metric Memory Heap Objects: (app ID: {{urlquery .ApplicationID}})',
                        //connectSeparatedPoints: true,
                        xlabel: 'Date (UTC)',
                        ylabel: 'Count',
                        drawPoints: true,
                        pointSize: 2,
                        rollPeriod: 1,
                        showRoller: true,
                        //strokeWidth: 2,
                    };
                    showGraph("/p/app/metric?applicationID={{urlquery .ApplicationID}}&group=objects",
                                {{urlquery .Resolution}},
                                objectOptions,
                                {{if .Plt.Thresholds}}[{{index .Plt.Thresholds 0}}, {{index .Plt.Thresholds 1}}]{{else}}null{{end}}
                    );
                });

            </script>
        </div>
    </div>
</div>
{{end}}