{{define "panels"}}
{{template "page_parm_list" .}}
<div class="row">
{{range .Panels}}
    {{$statusLink:= .StatusLink}}
    <div class="col-xs-12 col-md-4">
        <div class="row">
            <div class="col-xs-12 col-md-12 h2">
                {{.Title}}
            </div>
        </div>
        {{with index .Values "sites"}}
        {{if .ID}}
        <a href="{{.Link}}">
            <div class="row mtr-size mtr-callout mtr-sub-title">
                <div class="col-xs-12 col-md-12">Sites {{.Count}}</div>
            </div>
        </a>
        {{end}}
        {{end}}
        {{with index .Values "devices"}}
        {{if .ID}}
        <a href="{{.Link}}">
            <div class="row mtr-size mtr-callout mtr-sub-title">
                <div class="col-xs-12 col-md-12">Devices {{.Count}}</div>
            </div>
        </a>
        {{end}}
        {{end}}
        {{with index .Values "metrics"}}
        {{if .ID}}
        <a href="{{.Link}}">
            <div class="row mtr-size mtr-callout">
                <div class="col-xs-12 col-md-12">Metrics {{.Count}}</div>
            </div>
        </a>
        {{end}}
        {{end}}
        {{with index .Values "good"}}
        <a href="{{$statusLink}}&status=good">
            <div class="row mtr-callout mtr-callout-good mtr-size">
                <div class="col-xs-12 col-md-12">Good {{.Count}}</div>
            </div>
        </a>
        {{end}}
        {{with index .Values "bad"}}
        <a href="{{$statusLink}}&status=bad">
            <div class="row mtr-callout mtr-callout-bad mtr-size">
                <div class="col-xs-12 col-md-12">Bad {{.Count}}</div>
            </div>
        </a>
        {{end}}
        {{with index .Values "unknown"}}
        <a href="{{$statusLink}}&status=unknown">
            <div class="row mtr-callout mtr-callout-unknown mtr-size">
                <div class="col-xs-12 col-md-12">Unknown {{.Count}}</div>
            </div>
        </a>
        {{end}}
        {{with index .Values "late"}}
        <a href="{{$statusLink}}&status=late">
            <div class="row mtr-callout mtr-callout-late mtr-size">
                <div class="col-xs-12 col-md-12">System Error {{.Count}}</div>
            </div>
        </a>
        {{end}}
    </div>
{{end}}
</div>
{{end}}

{{define "top_nav_tabs"}}
<div class="row">
    <div class="col-xs-12 col-md-12">
        <ul class="nav nav-tabs">
            <li role="presentation" {{if eq .ActiveTab "Home"}}class="active"{{end}}><a href="/">Home</a></li>
            <li role="presentation" {{if eq .ActiveTab "Data"}}class="active"{{end}}><a href="/data">Data</a></li>
            <li role="presentation" {{if eq .ActiveTab "Field"}}class="active"{{end}}><a href="/field">Field</a></li>
            <li role="presentation" {{if eq .ActiveTab "Apps"}}class="active"{{end}}><a href="/app">Apps</a></li>
            <li role="presentation" {{if eq .ActiveTab "Map"}}class="active"{{end}}><a href="/map">Map</a></li>
            <li role="presentation" {{if eq .ActiveTab "Interactive Map"}}class="active"{{end}}><a href="/interactive_map">Interactive Map</a></li>
            <li role="presentation" {{if eq .ActiveTab "Tag"}}class="active"{{end}}><a href="/tag">Tag</a></li>
        </ul>
    </div>
</div>
{{end}}

{{define "spark_rows"}}
{{$mtrApiUrl:=.MtrApiUrl}}
{{template "page_parm_list" .}}
<div class="row">
{{range .SparkGroups}}
    {{if .Title}}
    <div class="col-xs-12 col-md-12">
        <h4>{{.Title}}</h4>
    </div>
    {{end}}
    {{range .Rows}}
    <div class="col-xs-12 col-md-6">
        <a href="{{.Link}}">
            <div class="row mtr-callout mtr-callout-{{.Status}}">
                <div class="col-xs-8 col-md-8">
                    {{.Title}} {{.Status}}
                </div>
                <div class="col-xs-4 col-md-4">
                    <img src="{{$mtrApiUrl}}{{.SparkUrl}}&plot=spark&resolution=five_minutes"/>
                </div>
            </div>
        </a>
    </div>
    {{end}}
{{end}}
</div>
{{end}}

{{define "group_count_rows"}}
{{$mtrApiUrl:=.MtrApiUrl}}
{{template "page_parm_list" .}}
<div class="row">
{{range .GroupRows}}
    <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="{{.Link}}">
            <div class="col-xs-12 col-md-12 mtr-callout mtr-size">
                {{.Description}} ({{.Count}})
            </div>
        </a>
    </div>
{{end}}
</div>
{{end}}

{{define "app_ids"}}
<div class="row">
{{range .AppIDs}}
    <div class="col-xs-12 col-md-12">
        <a href="/app/plot?applicationID={{.ID}}">{{.ID}}</a>
    </div>
{{end}}
</div>
{{end}}


{{define "field_plot"}}
{{if .Tags}}
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="h4">
        Tags:&nbsp;
        {{range .Tags}}
        <a href="/search?tagQuery={{.}}">{{.}}</a>
        {{end}}
        </div>
    </div>
</div>
{{end}}
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div id="graphdiv" class="graph">
            <script type="text/javascript">
                $(document).ready(function () {
                    "use strict";

                    var graphOptions = {
                         title: 'Field Metrics (deviceID: {{urlquery .DeviceID}}, typeID: {{urlquery .TypeID}})',
                         //connectSeparatedPoints: true,
                         xlabel: 'Date (UTC)',
                         ylabel: 'Units: {{.Plt.Ylabel}}, {{if .Plt.Thresholds}} thresholds: [{{index .Plt.Thresholds 0}} - {{index .Plt.Thresholds 1}}]{{end}}',
                         drawPoints: true,
                         pointSize: 2,
                         rollPeriod: 1,
                         showRoller: true,
                         strokeWidth: 2,
                    };

                    // Hack to combine the rt signal and noise series onto a single plot.  See GeoNet/mtr#168.
                    var typeID = {{urlquery .TypeID}};
                    var typeIDParams = "&typeID=" + typeID;
                    if (typeID == "rf.signal" || typeID == "rf.noise") {
                        typeIDParams = "&typeID=rf.signal&typeID=rf.noise";
                    }

                    showGraph("/p/field/metric?deviceID={{urlquery .DeviceID}}" + typeIDParams,
                                {{urlquery .Resolution}},
                                graphOptions,
                                {{if .Plt.Thresholds}}[{{index .Plt.Thresholds 0}}, {{index .Plt.Thresholds 1}}]{{else}}null{{end}});
                });
            </script>
        </div>
    </div>
</div>
{{end}}

{{define "data_plot"}}
{{if .Tags}}
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="h4">
            Tags:&nbsp;
            {{range .Tags}}
            <a href="/search?tagQuery={{.}}">{{.}}</a>
            {{end}}
        </div>
    </div>
</div>
{{end}}
<div class="row">
    <br>
    <div class="graph col-xs-12 col-md-12" id="graphdiv"></div>
    <script>
        $(document).ready(function () {
            "use strict";

            var csvUrl = "/p/data/latency?siteID={{urlquery .SiteID}}&typeID={{urlquery .TypeID}}";
            var graphOptions = {
                 title: 'Data Latency (siteID: {{urlquery .SiteID}}, typeID: {{urlquery .TypeID}})',
                 //connectSeparatedPoints: true,
                 xlabel: 'Date (UTC)',
                 ylabel: 'Units: {{.Plt.Ylabel}}, {{if .Plt.Thresholds}}Thresholds: [{{index .Plt.Thresholds 0}}, {{index .Plt.Thresholds 1}}]{{end}}',
                 drawPoints: true,
                 pointSize: 2,
                 rollPeriod: 1, // the number of points "rolled" or averaged into one, can modify interactively
                 showRoller: true,
                 strokeWidth: 2,
                 //drawCallback: function(me, initial) { progressiveLoader(me, initial, csvUrl) },
            };

            showGraph(csvUrl,
                    {{urlquery .Resolution}},
                    graphOptions,
                    {{if .Plt.Thresholds}}[{{index .Plt.Thresholds 0}}, {{index .Plt.Thresholds 1}}]{{else}}null{{end}});
        });
    </script>
</div>
{{end}}

{{define "data_completeness_plot"}}
<div class="row">
    <div class="col-xs-12 col-md-12"><img src="{{.MtrApiUrl}}/data/completeness?siteID={{urlquery .SiteID}}&typeID={{urlquery .TypeID}}&resolution={{.Resolution}}"/></div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <ul class="nav nav-pills">
            <li role="presentation" {{if eq .Resolution "five_minutes"}}class="active"{{end}}><a href="/data/completeness/plot?siteID={{urlquery .SiteID}}&typeID={{urlquery .TypeID}}&resolution=five_minutes">48 Hours</a></li>
            <li role="presentation" {{if eq .Resolution "hour"}}class="active"{{end}}><a href="/data/completeness/plot?siteID={{urlquery .SiteID}}&typeID={{urlquery .TypeID}}&resolution=hour">28 Days</a></li>
            <li role="presentation" {{if eq .Resolution "twelve_hours"}}class="active"{{end}}><a href="/data/completeness/plot?siteID={{urlquery .SiteID}}&typeID={{urlquery .TypeID}}&resolution=twelve_hours">28 Days</a></li>
        </ul>
    </div>
</div>
{{end}}

{{define "page_parm_list"}}
<div class="row">
    <div class="col-xs-12 col-md-12">
        <ul>
        {{if .ModelID}}
        <li class="h3">
            ModelID:{{.ModelID}}
        </li>
        {{end}}
        {{if .TypeID}}
        <li class="h3">
            TypeID:{{.TypeID}}
        </li>
        {{end}}
        {{if .DeviceID}}
        <li class="h3">
            DeviceID:{{.DeviceID}}
        </li>
        {{end}}
        {{if .SiteID}}
        <li class="h3">
            SiteID:{{.SiteID}}
        </li>
        {{end}}
        {{if .Status}}
        <li class="h3">
            Status:{{.Status}}
        </li>
        {{end}}
        </ul>
    </div>
</div>
{{end}}
