{{define "body"}}
<div class="row">
    <div class="col-xs-12 col-md-12">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation" class="active"><a href="/data">Data</a></li>
            <li role="presentation"><a href="/field">Field</a></li>
            <li role="presentation"><a href="/map">Map</a></li>
        </ul>
    </div>
</div>
{{if eq .Path "/data"}}
<div class="row">
    {{template "panels" .}}
</div>
{{else if eq .Path "/data/plot"}}
    {{template "data_plot" .}}
{{else}}
<div class="row">
    {{if .Panels}}
        {{template "panels" .}}
    {{else if .SparkGroups}}
        {{template "spark_rows" .}}
    {{else}}
        <div class="col-xs-12 col-md-12 h3">No metrics available.</div>
    {{end}}
</div>
{{end}}
{{end}}