{{define "data_main"}}
<a href="/data/sites">
    <div class="row mtr-size mtr-callout mtr-sub-title">
        <div class="col-xs-12 col-md-12">Sites {{index . "sites"}}</div>
    </div>
</a>

<a href="/data/metrics">
    <div class="row mtr-size mtr-callout">
        <div class="col-xs-12 col-md-12">Metrics {{index . "metrics"}}</div>
    </div>
</a>

<a href="/data/metrics?status=good">
    <div class="row mtr-size mtr-callout mtr-callout-good">
        <div class="col-xs-12 col-md-12">Good {{index . "good"}}</div>
    </div>
</a>

<a href="/data/metrics?status=bad">
    <div class="row mtr-size mtr-callout mtr-callout-bad">
        <div class="col-xs-12 col-md-12">Bad {{index . "bad"}}</div>
    </div>
</a>

<a href="/data/metrics?status=unknown">
    <div class="row mtr-size mtr-callout mtr-callout-unknown">
        <div class="col-xs-12 col-md-12">Unknown {{index . "unknown"}}</div>
    </div>
</a>

<a href="/data/metrics?status=late">
    <div class="row mtr-size mtr-callout mtr-callout-late">
        <div class="col-xs-12 col-md-12">System Error {{index . "late"}}</div>
    </div>
</a>

{{end}}

{{define "data_metrics"}}
{{$mtrApiUrl:=.MtrApiUrl}}
{{if .Status}}
    {{$status:=.Status}}
    {{if .Sites}}
        {{template "data_sites_type_status" .}}
    {{else}}
        <h3>No metric available.</h3>
    {{end}}
{{else}}
{{if .Metrics}}
<div class="row">
    {{range .Metrics}}
    <div class="col-xs-12 col-md-4">
        <div class="row">
            <div class="col-xs-12 col-md-12 h3">{{.Description}}: {{index .Count "total"}}</div>
        </div>
        <div class="row mtr-callout mtr-callout-good mtr-size">
            <div class="col-xs-12 col-md-12">Good {{index .Count "good"}}</div>
        </div>
        <div class="row mtr-callout mtr-callout-bad mtr-size">
            <div class="col-xs-12 col-md-12">Bad {{index .Count "bad"}}</div>
        </div>
        <div class="row mtr-callout mtr-callout-unknown mtr-size">
            <div class="col-xs-12 col-md-12">Unknown {{index .Count "unknown"}}</div>
        </div>
        <div class="row mtr-callout mtr-callout-late mtr-size">
            <div class="col-xs-12 col-md-12">System Error {{index .Count "late"}}</div>
        </div>
    </div>
    {{end}}
</div>
{{else}}
        <h3>No metric available.</h3>
    {{end}}
{{end}}
{{end}}

{{define "data_sites"}}
{{if .Metrics}}
    {{template "data_sites_type" .}}
{{else if .Sites}}
    {{template "data_sites_type_status" .}}
{{else}}
    <h3>No metric available.</h3>
{{end}}
{{end}}

{{define "data_sites_type"}}
{{$mtrApiUrl:=.MtrApiUrl}}
<div class="row">
{{range .Metrics}}
    <div class="col-xs-12 col-md-4">
        <div class="row">
            <div class="col-xs-12 col-md-12 h3">{{.Description}}</div>
        </div>
        <div class="row mtr-size mtr-callout">
            <div class="col-xs-12 col-md-12">Metrics {{index .Count "total"}}</div>
        </div>
        <!-- TODO the links below should go to a metrics the are good bad etc.-->
        <a href="/data/sites?typeID={{urlquery .ID}}&status=good">
            <div class="row mtr-callout mtr-callout-good mtr-size">
                <div class="col-xs-12 col-md-12">Good {{index .Count "good"}}</div>
            </div>
        </a>
        <a href="/data/sites?typeID={{urlquery .ID}}&status=bad">
            <div class="row mtr-callout mtr-callout-bad mtr-size">
                <div class="col-xs-12 col-md-12">Bad {{index .Count "bad"}}</div>
            </div>
        </a>
        <a href="/data/sites?typeID={{urlquery .ID}}&status=unknown">
            <div class="row mtr-callout mtr-callout-unknown mtr-size">
                <div class="col-xs-12 col-md-12">Unknown {{index .Count "unknown"}}</div>
            </div>
        </a>
        <a href="/data/sites?typeID={{urlquery .ID}}&status=late">
            <div class="row mtr-callout mtr-callout-late mtr-size">
                <div class="col-xs-12 col-md-12">System Error {{index .Count "late"}}</div>
            </div>
        </a>
    </div>
{{end}}
</div>
{{end}}

{{define "data_sites_type_status"}}
{{$mtrApiUrl:=.MtrApiUrl}}
{{$typeID := .TypeID}}
<div class="row">
    {{range .Sites}}
    <div class="col-xs-12 col-md-6">
        <a href="/data/plot?siteID={{urlquery .SiteID}}&typeID={{urlquery .TypeID}}">
            <div class="row mtr-callout mtr-callout-{{.Status}}">
                <div class="col-xs-8 col-md-8">
                    {{.SiteID}} {{.TypeID}} {{.Status}}
                </div>
                <div class="col-xs-4 col-md-4">
                    <img src="{{$mtrApiUrl}}/data/latency?siteID={{urlquery .SiteID}}&typeID={{urlquery .TypeID}}&plot=spark&resolution=five_minutes"/>
                </div>
            </div>
        </a>
    </div>
    {{end}}
</div>
{{end}}

{{define "data_site_latency"}}
<div class="row">
    <div class="col-xs-12 col-md-12"><img src="{{.MtrApiUrl}}/data/latency?siteID={{urlquery .SiteID}}&typeID={{urlquery .TypeID}}&resolution={{.Resolution}}"/></div>
</div>
<div class="row">
<div class="col-xs-12 col-md-12">
    <ul class="nav nav-pills">
        <li role="presentation" {{if eq .Resolution "minute"}}class="active"{{end}}><a href="/data/plot?siteID={{urlquery .SiteID}}&typeID={{urlquery .TypeID}}&resolution=minute">12 Hours</a></li>
        <li role="presentation" {{if eq .Resolution "five_minutes"}}class="active"{{end}}><a href="/data/plot?siteID={{urlquery .SiteID}}&typeID={{urlquery .TypeID}}&resolution=five_minutes">48 Hours</a></li>
        <li role="presentation" {{if eq .Resolution "hour"}}class="active"{{end}}><a href="/data/plot?siteID={{urlquery .SiteID}}&typeID={{urlquery .TypeID}}&resolution=hour">28 Days</a></li>
    </ul>
</div>
</div>
{{end}}


