{{define "body"}}
{{if ne .Path "/field/plot"}}
<div class="row">
    <div class="col-xs-12 col-md-12">
        <ul class="nav nav-pills">
            <li role="presentation" {{if eq .Path "/"}}class="active"{{end}}><a href="/">Home</a></li>
            <li role="presentation" {{if eq .Path "/field"}}class="active"{{end}}><a href="/field">Field</a></li>
            <li role="presentation" {{if eq .Path "/field/devices"}}class="active"{{end}}><a href="/field/devices">Devices</a></li>
            <li role="presentation" {{if eq .Path "/field/metrics"}}class="active"{{end}}><a href="/field/metrics">Metrics</a></li>
        </ul>
    </div>
</div>
{{end}}
{{if eq .Path "/field"}}
<div class="row">
    <div class="col-xs-12 col-md-4">
        {{template "field_main" .Summary}}
    </div>
</div>
{{else if eq .Path "/field/metrics"}}{{template "field_metrics" .Metrics}}
{{else if eq .Path "/field/plot"}}{{template "field_device_metric" .}}
{{else if eq .Path "/field/devices"}}
{{if .DeviceModels}}
{{template "field_device_models" .}}
{{else if .Devices}}
<div class="row">
    <div class="col-xs-12 col-md-12 h4">{{.ModelId}} (Total: {{len .Devices}})</div>
</div>
{{template "field_devices" .}}
{{else}}
<h3>No metric available.</h3>
{{end}}
{{end}}
{{end}}
