{{define "field_main"}}
<a href="/field/devices">
    <div class="row mtr-size mtr-callout mtr-sub-title">
        <div class="col-xs-12 col-md-12">Devices {{index . "devices"}}</div>
    </div>
</a>

<a href="/field/metrics">
    <div class="row mtr-size mtr-callout">
        <div class="col-xs-12 col-md-12">Metrics {{index . "metrics"}}</div>
    </div>
</a>

<a href="/field/metric/good">
    <div class="row mtr-size mtr-callout mtr-callout-good">
        <div class="col-xs-12 col-md-12">Good {{index . "good"}}</div>
    </div>
</a>

<a href="/field/metric/bad">
    <div class="row mtr-size mtr-callout mtr-callout-bad">
        <div class="col-xs-12 col-md-12">Bad {{index . "bad"}}</div>
    </div>
</a>
<a href="/field/metric/late">
    <div class="row mtr-size mtr-callout mtr-callout-late">
        <div class="col-xs-12 col-md-12">Late {{index . "late"}}</div>
    </div>
</a>

<a href="/field/metric/unknown">
    <div class="row mtr-size mtr-callout mtr-callout-unknown">
        <div class="col-xs-12 col-md-12">Other {{index . "unknown"}}</div>
    </div>
</a>
{{end}}

{{define "field_metrics"}}
{{range .}}
<div class="row">
    <div class="col-xs-3 col-md-2 h4">{{.Id}}: {{index .Count "total"}}</div>
    <div class="col-xs-3 col-md-2 mtr-callout mtr-callout-good">good {{index .Count "good"}}</div>
    <div class="col-xs-3 col-md-2 mtr-callout mtr-callout-bad">bad {{index .Count "bad"}}</div>
    <div class="col-xs-3 col-md-2 mtr-callout mtr-callout-late">late {{index .Count "late"}}</div>
    <div class="col-xs-3 col-md-2 mtr-callout mtr-callout-unknown">other {{index .Count "unknown"}}</div>
</div>
{{end}}
{{end}}

{{define "field_device_models"}}
{{range .DeviceModels}}
{{$modelId := .ModelId}}
<div class="row">
    <div class="col-xs-12 col-md-12 h3">{{.ModelId}}: {{.TypeCount}}</div>
</div>
{{range .Types}}
<div class="row">
    <a href="/field/devices?modelID={{urlquery $modelId}}&typeID={{urlquery .Id}}">
    <div class="col-xs-3 col-md-2 h4">{{.Id}}:</div>
    <div class="col-xs-3 col-md-2 mtr-callout mtr-callout-good">good {{index .Count "good"}}</div>
    <div class="col-xs-3 col-md-2 mtr-callout mtr-callout-bad">bad {{index .Count "bad"}}</div>
    <div class="col-xs-3 col-md-2 mtr-callout mtr-callout-late">late {{index .Count "late"}}</div>
    <div class="col-xs-3 col-md-2 mtr-callout mtr-callout-unknown">unknown {{index .Count "unknown"}}</div>
    </a>
</div>
{{end}}
{{end}}
{{end}}

{{define "field_devices"}}
{{$mtrApiUrl:=.MtrApiUrl}}
{{range .Devices}}
<div class="row">
    <!-- TBD: link to mtr-api should be without host name -->
    <a href="/field/plot?deviceID={{.Id}}&typeID={{.TypeId}}" target="_blank">
    <div class="col-xs-6 col-md-6 h4"><span class="mtr-callout mtr-callout-{{.Status}}">{{.Status}}</span>  {{.Id}}:</div>
    <div class="col-xs-6 col-md-6"><img src="{{$mtrApiUrl}}/field/metric?deviceID={{.Id}}&typeID={{.TypeId}}&plot=spark&resolution=five_minutes"/></div>
    </a>
</div>
{{end}}
{{end}}

{{define "field_device_metric"}}
<div class="col-xs-12 col-md-12">
    <ul class="nav nav-pills">
        <li role="presentation" {{if eq .Resolution "minute"}}class="active"{{end}}><a href="/field/plot?deviceID={{.DeviceId}}&typeID={{.TypeId}}&resolution=minute">12 Hours</a></li>
        <li role="presentation" {{if eq .Resolution "five_minutes"}}class="active"{{end}}><a href="/field/plot?deviceID={{.DeviceId}}&typeID={{.TypeId}}&resolution=five_minutes">48 Hours</a></li>
        <li role="presentation" {{if eq .Resolution "hour"}}class="active"{{end}}><a href="/field/plot?deviceID={{.DeviceId}}&typeID={{.TypeId}}&resolution=hour">28 Days</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12"><img src="{{.MtrApiUrl}}/field/metric?deviceID={{.DeviceId}}&typeID={{.TypeId}}&resolution={{.Resolution}}"/></div>
</div>
{{end}}

