{{define "body"}}
<div class="row">
    <div class="col-xs-12 col-md-4">
        <a href="/field">
            <div class="row mtr-size mtr-callout mtr-title">
                <div class="col-xs-12 col-md-12">
                    <strong>Field</strong>
                </div>
            </div>
        </a>
        {{template "field_main" .FieldSummary}}
    </div>
    <div class="col-xs-12 col-md-4">
        <a href="/data">
            <div class="row mtr-size mtr-callout mtr-title">
                <div class="col-xs-12 col-md-12">
                    <strong>Data</strong>
                </div>
            </div>
        </a>
        {{template "data_main" .DataSummary}}
    </div>
    <div class="col-xs-12 col-md-4">
        <a href="/#TODO">
            <div class="row mtr-size mtr-callout mtr-title">
                <div class="col-xs-12 col-md-12">
                    <strong>Services</strong>
                </div>
            </div>
        </a>
        {{template "app_main" .AppSummary}}
    </div>
</div>
{{end}}