{{define "body"}}

{{template "top_nav_tabs" .}}
{{$typeID:=.TypeID}}
{{$mapUrl:=.MtrApiUrl}}

<div class="row" style="margin-top:20px;">
    <div class="col-xs-12 col-md-12">
        <ul class="nav nav-pills">
            {{ range $mapdf := .Border.MapList }}
            {{ range $typeid := $mapdf.TypeIDs }}
            <li role="presentation" {{if eq $typeID $typeid}} class="active"{{end}}><a href="/interactive_map/{{$typeid}}">{{$typeid}}</a></li>
            {{end}} {{end}}
        </ul>
    </div>
</div>
<div class="row" style="margin-top:20px;">
    <div class="col-xs-12 col-md-12">
        <div id="map" style="width: 100%; height: 800px"></div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {

        var map = L.map('map', {
            worldCopyJump: 'true'
        }).setView([-41, 174], 6);

        var goodMarkerOptions = {
            radius: 8,
            fillColor: "#4daf4a",
            color: "#000",
            weight: 1,
            opacity: 1,
            fillOpacity: 0.8
        };
        var badMarkerOptions = {
            radius: 8,
            fillColor: "#e41a1c",
            color: "#000",
            weight: 1,
            opacity: 1,
            fillOpacity: 0.8
        };
        var lateMarkerOptions = {
            radius: 8,
            fillColor: "#984ea3",
            color: "#000",
            weight: 1,
            opacity: 1,
            fillOpacity: 0.8
        };


		L.tileLayer('https://static.geonet.org.nz/osm/1/tiles/{z}/{x}/{y}.png', {
			maxZoom: 18,
			attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
				'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, '
		}).addTo(map);

        $.ajax ({
            url: "../p/field/metric/summary?typeID={{.TypeID}}",
            type: "GET",
            headers : {
                'Accept' : 'application/vnd.geo+json'
            },
            success: function  (data) {


                var threeHoursAgo = Date.now() - (3*60*60*1000);

                layer = new L.GeoJSON1(data, {  //geoJson, GeoJSON1
                    pointToLayer: function (feature, latlng) {

                    var time = Date.parse(feature.properties.time);

                    if(time < threeHoursAgo)  {
                        return L.circleMarker(latlng, lateMarkerOptions);
                    }
                    else if(feature.properties.value > feature.properties.lower && feature.properties.value < feature.properties.upper)  {
                        return L.circleMarker(latlng, goodMarkerOptions);
                    }
                    else {
                        return L.circleMarker(latlng, badMarkerOptions);
                    }
                    },
                    onEachFeature: function (feature, layer) {
                        var dateObj = new Date(feature.properties.time);
                        layer.bindPopup(
                          "<div><span class='att'>TypeID:</span><span class='val'>" + feature.properties.typeid + "</span></div>"
                        + "<div><span class='att'>DeviceID:</span><span class='val'>" + feature.properties.deviceid + "</span></div>"
                        + "<div><span class='att'>Time:</span><span class='val'>" + dateObj.toUTCString() + "</span></div>"
                        + "<div><span class='att'>Value:</span><span class='val'>" + feature.properties.value + " (Threshold - lower: " + feature.properties.lower + ", upper: " + feature.properties.upper + ")</span></div>"
                        + "<div><span class='att'><a href='../field/plot?deviceID=" + feature.properties.deviceid + "&typeID=" + feature.properties.typeid + "' target='_blank'>Chart</span></div>"
                        );
                    }
                }).addTo(map);

                layer.checkFeatureLocation();
                map.on('moveend', function(e){
                    layer.checkFeatureLocation(e);
                })
            }
        });
        }
    );


</script>
{{end}}
