{{define "body"}}
<div class="row">
    <div class="col-xs-12 col-md-12">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href="/data">Data</a></li>
            <li role="presentation"><a href="/field">Field</a></li>
            <li role="presentation"><a href="/map">Map</a></li>
            <li role="presentation" class="active"><a href="/tag">Tag</a></li>
        </ul>
    </div>
</div>
<div class="row" style="margin-top:20px;">
    <div class="col-xs-6 col-md-12">
        <ul class="nav nav-pills">
            {{$p:=.Path}}
            {{range .TagTabs}}
            <li role="presentation" {{if eq . $p}} class="active"{{end}}><a href="/tag/{{.}}">{{.}}</a></li>
            {{end}}
        </ul>
    </div>
</div>
<div class="row" style="margin-top:20px;">
    {{range .Tags}}
    <div class="col-xs-2 col-md-2">
        <a href="/search?tagQuery={{.}}">{{.}}</a>
    </div>
    {{end}}
</div>
{{end}}